<% provide(:about, "active")%>
<% provide(:title, "About")%>
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<h3 class="heading">About Us</h3>
			<p>
				Ensure that your company runs optimally, with the right technology team. When staffing your technology positions, it is very important that you have personnel who are specialists in their given area of expertise, while still able to interact well with your non-technical business teams when appropriate.
			</p>
			<div class="col-md-5">
				<img src="<%= asset_path('skytree.jpeg')%>" class="about-image"/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Services</h3>
		</div>
		<div class="services">
			<div class="col-md-4">
				<h4>House Keeping</h4>
				<p>Ensure that your company runs optimally, with the right technology team. When staffing your technology positions, it is very important that you have personnel who are specialists in their given area of expertise, while still able to interact well with your non-technical business teams when appropriate.</p>
			</div>
			<div class="col-md-4">
				<h4>House Keeping</h4>
				<p>Ensure that your company runs optimally, with the right technology team. When staffing your technology positions, it is very important that you have personnel who are specialists in their given area of expertise, while still able to interact well with your non-technical business teams when appropriate.</p>
			</div>
			<div class="col-md-4">
				<h4>House Keeping</h4>
				<p>Ensure that your company runs optimally, with the right technology team. When staffing your technology positions, it is very important that you have personnel who are specialists in their given area of expertise, while still able to interact well with your non-technical business teams when appropriate.</p>
			</div>
		</div>
		
	</div>
</div>
